<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Flask App</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- 主页按钮 -->
          <li class={% if request.endpoint == 'index' %}active{% endif%}>
            <!-- url_for通过app.py中的route的名称来进行判断 -->
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <!-- 下拉菜单 -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <!-- 未登录时显示登陆与注册 -->
          {% if not current_user.is_authenticated %}
            <!-- 登录按钮 -->
            <li class={% if request.endpoint == 'login' %}active{% endif %}>
              <!-- url_for通过app.py中的route的名称来进行判断 -->
              <a href="{{ url_for('login') }}">Login</a>
            </li>
            <!-- 注册按钮 -->
            <li class={% if request.endpoint == 'register' %}active{% endif %}>
              <!-- url_for通过app.py中的route的名称来进行判断 -->
              <a href="{{ url_for('register') }}">Register</a>
            </li>
          <!-- 登录后只显示登出 -->
          {% else %}
            <!-- 登出按钮 -->
            <li class={% if request.endpoint == 'logout' %}active{% endif %}>
              <!-- url_for通过app.py中的route的名称来进行判断 -->
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          {% endif %}
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>